.chat {
  width: 600px;
  height: 50px;
  border: 2px solid white;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  padding: 5px;
}
.chat span {
  color: white;
  font-size: 20px;
  margin-left: 20px;
}

.chat i {
  color: white;
  font-size: 40px;
  margin-left: 5px;
}
